.list {
    list-style-type: circle;
    list-style-position: inside;
    text-align: left;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px 30px;
    background-color: lightgray
}

.margins {
    margin-left: 140px;
    margin-right: 140px;
    line-height: 40px;
}

.taskHeading {
    margin-top: 75px;
}

.jspsych-display-element input[type=text] {
    margin-bottom: 75px;
}

.instructions {
    line-height: 1.5;
}

.stimulusWord {
    text-align: center;
    font-size: 48px;
}

.category1 {
    font-size: 24px;
    text-align: left, top;
    position: absolute;
    top: 60px;
    left: 150px;
}

.categ