.key {
    border: 1px solid black;
    border-radius: 2px;
    display: inline-block;
    padding: 5px 10px;
}

.list {
    list-style-type: circle;
    list-style-position: inside;
    text-align: left;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px 30px;
    background-color: lightgray
}

.taskHeading {
    margin-top: 75px;
}

.jspsych-display-element input[type=text] {
    margin-bottom: 75px;
}

.stimulusWord {
    text-align: center;
    font-size: 48px;
}

.category1 {
    font-size: 24px;
    text-align: left, top;
    position: absolute;
    top: 60px;
    left: 150px;
}

.category2 {
    font-size: 24px;
    position: absolute;
    top: 60px;
    right: 150px;
}

.fixation {
    font-size: 48px;
    text-align: center;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    inset: 8px;
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: #FF3D00;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    75%,
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
}